#!/usr/bin/make -f

export DEB_BUILD_HARDENING=1

%:
	dh $@

export PYTHONPATH :=  $(CURDIR)/debian/python-minieigen/usr/lib/python2.7/dist-packages:$(PYTHONPATH);

override_dh_installdoc:
	dh_installdocs # run the default
	make -C doc html
	#dh_sphinxdoc doc/build/html
	cp -r doc/build/html debian/python-minieigen/usr/share/doc/python-minieigenoverride_dh_installdoc:

override_dh_auto_install:
	dh_auto_install
	$(CURDIR)/debian/test/test.py
